body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Comic Sans MS;
    font-size: 60px;
    color: darkblue;
    text-align: center;
}

h3 a {
    color: white;
}

h4 {
    text-align: end;
    font-style: italic;
}

#paragrafatas {
    color: orange;
}

#paragrafbawah {
    line-height: 33px;
}

p {
    text-align: center;
}