*,
*::before,
*::after {
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

ul,
ol {
    list-style: none;
}


img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: inherit;
}


input,
button,
textarea,
select {
    font: inherit;
}

a img {
    border: none;
}